
@{
    ViewData["Title"] = "LookUpByIngredients";
    Layout = "~/Views/Recipe/_LayoutRecipe.cshtml";
}

<h2>LookUpByIngredients</h2>

<div class="container">

    <form asp-action="LookUpByIngredients" method="post">

        <h3>Enter all the ingredients you have, and we'll show you what you can make by them</h3>
        <div class="form-group">

            <label for="ingredientsug">Enter ingredients:</label>
            <div class="autocomplete" style="width:300px;">
                <input class="form-control" type="text" id="ingredientsug" />

            </div>
            <input type="button" class="btn" value="Add ingredient" id="adding" />
        </div>
        <div class="form-group">
            <div class="checkbox" id="cbl">

            </div>
            </div>
        <div class="form-group">
            <input type="submit" class="btn btn-block" value="Look for Foods" />
        </div>

</form>

</div>